.list {
    list-style: none;
}
.studio-link {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #2E2F42;
}
.portfolio-link {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;    
        letter-spacing: 0.02em;   
        color: #2E2F42;
}
.contact-link {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;    
        letter-spacing: 0.02em;            
        color: #2E2F42;
}
.menu {
    position: absolute;
        width: 261px;
        height: 24px;
        left: 347px;
        top: 24px;
}


